@font-face{
  font-family: bold;
  src:url(../pics/Karla/static/Karla-ExtraBold.ttf);
}
@font-face{
  font-family: light;
src: url(../pics/Karla/static/Karla-Light.ttf);
}

*{
  margin: 0;
  box-sizing: border-box;
}
body{
    /* position: relative; */
    width: 100%;
    border: 1rem solid black;
    height: 100%;
    background-color: rgb(77, 46, 77)
}
section{
  /* position: absolute; */
  /* padding: 1rem; */
  /* margin: 1rem; */
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: chartreuse;
  justify-content: center;
}

.container1{
  display: flex;
  width: 100%;
  height: 55rem;
  padding-top: 2rem;
  padding-right: 1rem;
  background-color: #FFFFFF;
  
}
.title-dreams{
  position: relative;
  top: 4rem;
  font-size: 2rem;
background-color: white;
font-family: bold;
}
.title{
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  height: 34rem;
}
.asdas{
  background-color: white;
}
.container-one-object{
  width: 50%;
  height: 100%;
  background-color: white;
  position: relative;
  left: 6rem;
}
.container-one-img{
    object-fit: fill;
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
}
.container-one-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
.cotainer-one-object,.cotainer-one-img{
}

.texttr{
display: flex;
/* justify-content: center; */
}
.tangle{
  position: relative;
  top: 16rem;
  right: 2rem;
}
.Rectangle{
  width: 0.5rem;
  height: 18rem;
  background-color: #D85A5A;
}
.white-space{
  position: absolute;
  top: 14rem;
  width: 0.5rem;
  height: 2rem;
  background-color: white;
}


.left-bold-text{
    line-height: 2,6rem;
    font-weight: bold;
    font-size: 44px;
    font-family: bold;
}

.main-text{
    font-size: 44px;
    font-family: light;
}

.onder-text{
    width: 20rem;
    line-height: 2.2rem;
    font-size:1rem;
    padding-top: 0.5rem; 
}
.all-menu{
  position: relative;
  left: 2rem;
  top: 2rem;
}
.view-menu{
    width: 11rem;
    height: 3rem;
    background-color: #D85A5A;
    color: white;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-style: none;
}
.book-tabel{
    color: #D85A5A;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px #707070;
    box-shadow: 0px 4px 4px #707070;
}


.breakfast{
    position: relative;
    top: 3rem;
    display: flex;
    width: 8rem;
}

.breakfast-text{
    background-color: transparent;
    position: absolute;
}
.breakfast-icon{
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    position: absolute;
    left: 7rem;
    top: 3rem;
    font-family: "Karla SemiBoldItalic";
}
.breakfast-icon img{
  width: ;
    font-family: "Karla ExtraBold";
}